<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Parking_System.Properties.Settings.Setting" connectionString="Data Source=ZXYNETHJEIGN\SQLEXPRESS;Initial Catalog=DB_PARKSYSTEM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>